<div class="user-container">
    <a href="" id="myProfile"><%=displayName%></a>
    <div class="user-login-container"></div>
    <div class="dropdown-content-user">
            <a href="#">Profile</a>
            <a href="#">Account Settings</a>
            <a href="/logout" role="button">Sign Out</a>
    </div>
</div>
