<div class="user-container">
    <p id="myProfile"><%=displayName%></p>
    <div class="user-login-container">
        <% if (profilePicUrl) { %>
            <img src="<%= profilePicUrl %>" alt="">
        <% } else { %>
            <img src="/imgs/My project.png" alt="">
        <% } %>
        
    </div>
    <div class="dropdown-content-user">
            <a href="/profile">Profile</a>
            <a href="/account-setting">Account Settings</a>
            <a href="/logout" role="button">Sign Out</a>
    </div>
</div>
