    
        
    
        <footer>
            <div class="footer-content">
                <h2>Discover the Best GPUs with GraphiScore</h2>
                <p>Find your perfect GPU at GraphiScore Our expert-reviewed list has the latest top-rated products. Browse and join our tech community today.</p>
                <button>
                    <a href="">Get Started</a>
                </button>
            </div>
            <div class="footer">
                <div class="left-footer">
                    <ul>
                        <li><a href="">Terms & Condition</a></li>
                        <li><a href="">Privacy and Policy</a></li>
                        <li><a href="">Cookies</a></li>
                    </ul>
                </div>
                <div class="right-footer">
                    <ul>
                       <a href='https://github.com/DelrosarioRovic/Graphiscore'><i class='bx bxl-github'></i></a>
                       <a href='#'><i class='bx bxl-facebook-square'></i></a>
                       <a href='#'><i class='bx bxl-linkedin-square'></i></a>
                       <a href='#'><i class='bx bxl-discord'></i></a>
                    </ul>
                </div>
            </div>
        </footer>
       
        <script src="/designjs/design.js"></script>
    </body>
</html>
