<%- include("partials/header"); -%>
<div class="graphiscore-wrapper">
    <div class="graphiscore-intro">
        <h2>Graphiscore</h2>
        <input type="text" placeholder="Search your best Experience" name="search-product-graphiscore" id="search-product-review">
    </div>

    <div id="search-results-graphiscore">
        <div>
            
        </div>
    </div>



</div>
<%- include('partials/footer'); -%>