<%- include("partials/header"); -%>
    <div class="introduction-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="introduction-carousel-bg-1">
                  <div class="introduction-heading">
                      <h1> Your GPU Rating Destination</h1>
                      <p>Choose the right GPU with Graphicscore. Expert ratings and reviews of the latest GPUs. Get the best performance, features, and value for your money. For gamers, content creators, and high-performance seekers. Browse our database now.</p>
                    <div>
                          <a href="">Contact Us</a>
                    </div>
                  </div>    
                </div>
            </div>
        
              <div class="item">
                <div class="introduction-carousel-bg-2">
                  <div class="introduction-heading">
                      <h1> Find Your Perfect GPU</h1>
                      <p>Unleash your gaming potential with GraphiScore. Our comprehensive GPU ratings and reviews will help you make an informed choice. Explore the latest options now.</p>
                    <div>
                          <a href="">See GPUs</a>
                    </div>
                  </div>    
                </div> 
              </div>
            
              <div class="item">
                <div class="introduction-carousel-bg-3">
                  <div class="introduction-heading">
                      <h1> Upgrade Your Gaming Experience</h1>
                      <p>Make an informed GPU choice with GraphiScore. Our expert ratings and reviews help you find the best option. Start your search now.</p>
                    <div>
                          <a href="">Rate Now</a>
                    </div>
                  </div>    
                </div>    
              </div>
            </div>
          </div>
    </div>
    <div class="content-wrapper">
      <div class="rated-products-container">
        <h3>Most rate/review GPU Products</h3>
        <div class="group-product">
          <div class="rated-product">
            <img src="/imgs/imagegpu-2.jpg" alt="">
            <p>Product Name</p>
            <p>
              Mid-range graphics card for gaming and graphics-intensive tasks. 6GB GDDR6
              memory, 1408 CUDA cores, and faster clock speeds than the GTX 1660. Ideal for 1080p gaming and some 1440p games.
            </p>
            <ul>
              <p>Reviews(1)</p>  
              <p>⭐⭐⭐⭐⭐ 5.0(2)</p> 
            </ul>
          </div>
  
          <div class="rated-product">
            <img src="/imgs/imagegpu-2.jpg" alt="">
            <p>Product Name</p>
            <p>
              Mid-range graphics card for gaming and graphics-intensive tasks. 6GB GDDR6
              memory, 1408 CUDA cores, and faster clock speeds than the GTX 1660. Ideal for 1080p gaming and some 1440p games.
            </p>
            <ul>
              <p>Reviews(1)</p>  
              <p>⭐⭐⭐⭐⭐ 5.0(2)</p> 
            </ul>
          </div>

          <div class="rated-product">
            <img src="/imgs/imagegpu-2.jpg" alt="">
            <p>Product Name</p>
            <p>
              Mid-range graphics card for gaming and graphics-intensive tasks. 6GB GDDR6
              memory, 1408 CUDA cores, and faster clock speeds than the GTX 1660. Ideal for 1080p gaming and some 1440p games.
            </p>
            <ul>
              <p>Reviews(1)</p>  
              <p>⭐⭐⭐⭐⭐ 5.0(2)</p> 
            </ul>
          </div>

          <div class="rated-product">
            <img src="/imgs/imagegpu-2.jpg" alt="">
            <p>Product Name</p>
            <p>
              Mid-range graphics card for gaming and graphics-intensive tasks. 6GB GDDR6
              memory, 1408 CUDA cores, and faster clock speeds than the GTX 1660. Ideal for 1080p gaming and some 1440p games.
            </p>
            <ul>
              <p>Reviews(1)</p>  
              <p>⭐⭐⭐⭐⭐ 5.0(2)</p> 
            </ul>
          </div>
        </div>

      </div>

      <div class="news">
        <h3>📄 TODAY'S NEWS</h3>
        <img src="/imgs/gtx-img2.jpg" alt="">
        <p>NVIDIA has officially announced the release of their new RTX 3080 Ti graphics card, which is a more powerful version of their popular RTX 3080 card.
           The RTX 3080 Ti boasts impressive specifications, including 10,240 CUDA cores, 12GB of GDDR6X memory, and a boost clock speed of 1.67 GHz.</p>
      </div>
    </div>

    
<%- include('partials/footer'); -%>