/* import from google font */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/*    */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a:hover
{
    text-decoration: none !important;
    color: inherit;
}
  
h1,h2,h3,h4 {
    margin: 0;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
.main-nav li a, .main-nav li {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0 10px;
    transition: .4s;
}
.main-nav li:hover {
    transform: scale(1.1);
}
nav ul {
    margin: 0;
}
.left-nav {
    display: flex;
    align-items: center;
}
.left-nav .logo {
    display: flex;
    align-items: center;
    margin: 0;
    transition: .4s;
}
.left-nav .logo:hover {
    transform: scale(.85);
}
.left-nav a img{
    height: 80px;
    width: 85px;
}
.left-nav a h2 {
    color: rgb(255, 255, 255);
    position: relative;
    right: 21px;
    font-size: 2rem;
}
.right-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
}
.hide-right-nav {
    display: flex;
}
.inside-menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.dropdown {
display: flex;
}
.main-nav {
display: flex;
align-items: center;
}
.dropdown-button {
font-size: 2.5rem;
align-self: center;
display: none;
}
.dropdown-button i {
margin-top: 6px;
}
.search{
    display: flex;
    align-items: center;
    width: 20%;
    margin-right: 30px;
    position: relative;
}
#search-results-bar {
    position: absolute;
    background-color: white;
    padding: 10px 0;
    width: 100%;
    top: 100%;
    z-index: 1;
    left: 0;
    line-height: 1.5;
    display: none;
    flex-direction: column;
    overflow: auto;
    max-height: 30vh;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
}
#search-results-bar a{
    color: black;
    padding: 5px;
    display: flex;
    align-items: center
}
#search-results-bar a img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
}
#search-results-bar a p {
    margin: 0;
}

#search-results-bar a:hover{
    background-color: #cfcece;
}

.form-outline {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-outline input[type="text"] {
    border: none;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.search-delete {
    cursor: pointer;
    font-size: 26px;
    display: none;
}
.nav-menu {
    font-size:2.5rem;
    display: none;
    cursor:pointer;
    color: white;
}
.x-menu {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* user login tab */
.user-container {
    position: relative;
    max-width: 160px;
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: flex-end
}
.user-login-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}
.user-login-container img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 1px 1px rgb(177 172 172 / 75%);
    z-index: 1;
    top: 4em;
    padding: 5px;
}
.dropdown-content-user a {
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    color: black;
}
#myProfile {
    color: white;
    margin: 0;
    margin-right: 1em;
}
.user-login-container.clicked {
    outline: 2px solid green;
    transition: 0.4s;
}
.user-login-container.clicked img{
    transform: scale(.85);
}
.dropdown-content-user.clicked {
    display: block;
}

.right-nav #register-login-container {
    display: flex;
}
.right-nav #register-login-container li{
    text-align: center;
    margin: 0 10px;
    display: inline;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 7px 15px;
    transition: .4s;
}
.right-nav #register-login-container li:hover{
    transform: scale(.85);
}
.right-nav #register-login-container li a{
    text-decoration: none;
}
.right-nav #register-login-container li:first-child {
    background-color:#ffffff;
}
.right-nav #register-login-container li:first-child a{
    color:#000000;
}
.right-nav #register-login-container li:last-child {
    background-color: #178501;
}
.right-nav #register-login-container li:last-child a{
    color:#ffffff;
}


/* user profile */
.profile_settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    border-radius: .25rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem
  }
  .profile_settings_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .profile_settings_picture{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .profile_settings_name{
    display: flex;
    justify-content: center;
    font-size: larger;
    padding: 1rem;
    padding-top: .25rem;
  }
  .profile_settings_link{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }
  .profile_settings_link a{
    padding: .5rem 1rem;
    background-color: #000000;
    color: white;
    outline: 1px solid green;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: .2s;
  }
  .profile_settings_link a:hover{
    background-color: rgb(0, 40, 0);
  }
  .profile_settings_bio{
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 1px 5px -2px rgb(0 0 0 / 37%);
  }
  .profile_settings_revrate{
    width: 250px;
    padding:  1.5rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    line-height: 1.75rem;
  }
  .Activty{
    padding: 2rem;
    margin-bottom: 4rem;
  }
  .profile_activty{
    display: flex;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 3px 8px -2px rgb(0 0 0 / 37%);
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom:10px;
    width: 500px;
  }
  .profile_activty_name{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }
  .profile_activty_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
    width: 100%;
  }
  .profile_activty_description:hover{
    background-color: #f1f1f1;
  }
  .profile_activty_img{
    width: 180px;
  }
  .activty_img{
    transition: .4s;  
    width: fit-content;
    height: 150px;
  }
  .activty_img:hover{
    transform: scale(.85);
  }
  .activty_description{
    margin-top: .5rem;
    font-size: 1.2rem;
    color: #292828;
    width: 90%;
    overflow-wrap: anywhere;
  }
  .activty_datetime{
   font-size: 1rem;
   color: #888888;
   margin: 0;
  }
  .profile_activity_average{
    display: flex;
    align-items: center;
  }
  .profile_activty_name h2{
    font-size: 2rem;
    color: black;
  }
  .profile_icons{
    font-size: 1.25rem;
  }
  .user-rated-product {
    color: black;
  }

/* user account settings */

.accout_settings{
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.37);
    padding: 1.5rem; 
    border-radius: .25rem;
    width: 450px;
    margin: auto;
    margin-top: 2rem;
  }
  .accont{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .user-account{
    font-size: 2.55rem;
  }
  .accont_profile{
    margin-top: 1.5rem;
  }
  .accont-img-upload{
    overflow: hidden;
    margin-top: 1rem;
  }
  .profile-picture {
    border-radius: 50%; 
    width: 200px;
    height: 200px;
  }
  .accout_img{
    position: relative;
  }
  .accout_img input{
    display: none;
  }
  #profilePicUrl {
    display: block;
    float:right;
    align-self: center;
    margin-top: 10px;
  }
  .choose_file{
    padding: .5rem 1rem;
    background-color: #000000;
    outline: 1px rgb(0, 40, 0) solid;
    color: white;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    margin-top: .75rem;
    transition: .3s;
  }
  .choose_file:hover{
    background-color:rgb(0, 40, 0);
  
  }
  .account_display{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: .4rem;
  }
  .account_display input{
    margin-top: .25rem;
    padding: .5rem .55rem;
  }
  .account_display textarea{
    resize: none;
    font-size: 1rem;
    padding: .5rem;
    padding-top: .35rem;
    width: 100%;
    height: 150px;
  }
  .account_display button{
    border: none;
    background-color: black;
    color: white;
    padding: .5rem 1.35rem;
    border-radius: .25rem;
    font-size: .85rem;
    outline: 1px solid rgb(0, 40, 0);
    margin-top: 1.75rem;
    transition: .3s;
  }
  .account_display button:hover{
    background-color: rgb(0, 40, 0);
  }

/* remove class and add class using js */
.if-press-hide {
    display: none !important;
}
/* if click search will show */
.if-press-show {
    display: block;
}
.if-press-search {
    width: 100%;
    transition: 0.5s;
}

/*  *   */

/* home ejs */
/* carousel */
.introduction-wrapper {
    /* margin: 2em 0 0 0; */
}
.introduction-carousel-bg-1 {
    padding: 2em 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-image: url("/imgs/gtx-img2.jpg");
}
.introduction-carousel-bg-2 {
    padding: 2em 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/imgs/imagegpu-2.jpg");
    height: 70vh;
}
.introduction-carousel-bg-3 {
    padding: 2em 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/imgs/rtxgpu.png");
    height: 70vh;
}

.introduction-heading {
    width: 50%;
    padding: 2em 0;
}
.introduction-heading h1, .introduction-heading p {
    color: white;
    margin-bottom: 1em;
}
.introduction-heading div a {
    text-decoration: none;
    color:white;
    font-size: 1rem;
    background-color: #178501;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 2px #178501;
}
.introduction-heading div {
    margin: 2em 0;
}
/* home-content */
.content-wrapper {  
    display: flex;
    padding: 2em;
    justify-content: space-between;
}
.content-wrapper div h3 {
    margin-bottom: 20px;
}
.rated-products-container {
    width: 100%;
    overflow: hidden;
    padding: 0 10px 10px 10px;
}
.group-product {
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 3px 8px -2px rgb(0 0 0 / 37%);
    border-radius: 20px;
}
.rated-product {
    display: flex;
    color: black;
}

.rated-product .product-home-selfCont{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    border-bottom:solid 1pt #e9e9e9;
}
.rated-product:first-child .product-home-img {
    border-top-left-radius: 20px;
}
.rated-product:last-child .product-home-img {
    border-bottom-left-radius: 20px;
}
.rated-product .product-home-selfCont:hover {
    background-color: rgb(245, 245, 245);
}
.rated-product .product-home-selfCont p{
    color: #292828;
}
.rated-product .product-home-selfCont ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: flex-end
}
.rated-product .product-home-selfCont ul p{
    margin-left: 5px;
    font-size: 15px;
}
.rated-product .product-home-selfCont ul div{
    display: flex;
    align-items: baseline;
}

.product-home-img {
    position: relative;
    width: 200px;
    min-width: 200px;
    background-color: rgb(245, 245, 245);
  }
  .product-home-img::before {
    content: "View Gpu";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3b3b94;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
  }
  .product-home-img:hover::before {
    opacity: 1;
  }
  .rated-product:first-child .product-home-img::before {
        border-top-left-radius: 20px;
   }
   .rated-product:last-child .product-home-img::before {
        border-bottom-left-radius: 20px;
    }
  .product-home-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.4s ease;
  }
  .product-home-img:hover img {
    transform: scale(.85);
    filter: brightness(0.9);
  }
  
.news {
    width: 300px;
    display: none;
}
.news .RTX-news {
    display: flex;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 3px 8px -2px rgb(0 0 0 / 37%);
    border-radius: 20px;
    height: 120px;
    width: auto;
}
.news .RTX-news img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: auto;
    rotate: 90deg;
    margin-right: -2px;
}
.news .RTX-news p {
    padding: 15px;
    margin: 0;
}
/* login ejs */
.login-wrapper {
    padding: 2em;
    display:flex;
    justify-content: center;
}
.login-form {
    width: 40%;
    height: 500px;
    background-color: #e9e7e7;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
}
.login-img {
    width: 60%;
    height: 500px;
    background-image: url("/imgs/login.jpg");
    border-radius: 0 20px 20px 0 ;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
}
.login-form h2{
    margin-bottom: 1em;
    font-weight: 600;
}
.login-form form {
    margin: 2em 0;
}
.login-form label, .login-form input {
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
}
.login-form input {
    width: 100%;
    padding: 10px 10px;
    border:solid 1px rgb(180, 180, 180);
}
.login-form input[type="submit"] {
    border-radius: 20px;
    background-color: #686868;
    color: white;
    margin-top: 2em;
  }
.login-form ul {
    position: absolute;
    bottom: 1em;
    display: flex;
    left: 1.5em;
    flex-direction: column;
}
.login-form li {
    display: inline-block;
}
.login-form li a {
    color: #686868;
}

/* register ejs */
.register-wrapper {
    padding: 2em;
    display:flex;
    flex-direction: row-reverse
}
.register-form {
    width: 40%;
    height: 500px;
    background-color: #e9e7e7;
    border-radius: 0 20px 20px 0 ;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
}
.register-img {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    width: 60%;
    height: 500px;
    background-image: url("/imgs/login.jpg");
    border-radius: 20px 0 0 20px;
    background-position: center;
    background-size: cover;
}
.register-form h2{
    margin-bottom: 1em;
    font-weight: 600;
}
.register-form form {
    margin: 2em 0;
}
.register-form label, .register-form input {
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
}
.register-form input {
    width: 100%;
    padding: 10px 10px;
    border:solid 1px rgb(180, 180, 180);
}
.register-form input[type="submit"] {
    border-radius: 20px;
    background-color: #686868;
    color: white;
    margin-top: 2em;
}
/* review product*/
.review-wrapper {
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.review-product {
    width: 70%;
}
.product-review {
    width: 25%;
    height: fit-content;
}
.review-wrapper h2 i {
    font-size: 30px;
    margin-bottom: 20px;
}
.review-product, .product-review {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    border-radius: 10px;
    padding: 1em;
}
.review-product form {
    position: relative;
}
.review-product form input , .review-product form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    font-weight: 500;
}
.review-product label {
    margin:0
}
.review-product button {
    color:white;
    font-size: 1.5rem;
    background-color: #178501;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 2px #178501;
}
.productImg-div-review {
    width: 100%;
    object-fit: contain;
    height: 220px;
    margin-bottom:10px;
}
.productImg-div-review img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-width: 210px;
    height: 220px;
    border-radius: 5px;
    margin: auto;
}
.product-review {
    line-height: 1.5;
    display: flex;
    width: fit-content;
    margin-bottom: 10px;
}
.product-review > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
#ratings, #reviews {
    margin-top: auto;
}
.product-review h3, .product-review p {
    margin: 0;
    margin-bottom: 5px;
}
.product-review div div div p{
    display: inline-block;
    margin: 0;
}
.star-widget {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.star-widget input{
    display: none;
}
.star-widget label {
    font-size: 25px;
    color:#444;
    padding: 10px;
    transition: all 0.2s ease;
    float: right;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
.star-widget input:checked ~ label {
    color: #fd4;
}
.star-widget input#rate-5:checked ~ label {
    color: #fe7;
}
.star-widget p {
    margin: 0;
}
.average-rating {
    font-size: 14px;
    margin-left: 10px;
}
/* average */

.rating {
    display: inline-block;
    color: #888888;
    font-size: 20px;
    height: 20px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
  }
  
.rating-upper {
    color: #fda101;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}
.rating div {
    flex-direction: row !important;
}
.star-rating-user {
    display: inline-block;
}
.star-rating-review {
    z-index: -1;
    position: relative;
    display: inline-block;
}
/*  */
#search-results-review {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 1px 1px rgb(131 130 130 / 75%);
    top:5em;
    display: none;
    max-height: 150px;
    overflow: auto;
}
#search-results-review p{
    cursor: pointer;
    color: black;
    font-weight: 500;
    margin: 0;
    padding: 7px 5px;
}
#search-results-review p:hover{
    background-color: #cfcece;
}

  
/* graphiscore section */
.graphiscore-wrapper {
    padding: 2em;
}
.graphiscore-wrapper h2 {
    font-weight:800;
}
.graphiscore-intro input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 3px 8px -2px rgb(0 0 0 / 37%);
    border-radius: 5px;
}

#product-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 37%);
    -webkit-box-shadow: 1px 3px 8px -2px rgb(0 0 0 / 37%);
    justify-content: space-around;
    padding: 15px 10px;
    border-radius: 20px;
}
.product-div {
    width: 31.5%;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .4s;
    border: 1px solid rgb(241, 241, 241);
}

.product-div a {
    color: inherit;
    text-decoration: inherit;
}
.product-div a {
    color: inherit;
    text-decoration: inherit;
}
.top-gpus {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .top-gpus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(0 0 0 / 85%) 0%, rgb(0 0 0 / 0%) 100%);
    z-index: 1;
  }

  .top-gpus .average-gpusc {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    z-index: 2;
    padding: 0 10px;
  }
  .average-gpusc p {
    margin: 0;
    margin-top:3px;
    margin-left: 5px;
    color: white;
  }

.gpus-img {
    z-index: 1;
    object-fit: contain;
    object-position: center;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    max-width: 230px;
    min-height: 230px;
}
.gpus-product-desc {
    padding: 10px;
    transition: .4s;
}
.product-div:hover .gpus-product-desc {
    background-color: #178501;
}
.product-div:hover .gpus-product-desc *{
    color: white;
}
.gpus-product-desc h2 {
    font-size: 16px;
    color:#000000b7;
    font-weight: 700;
    margin-bottom: 5px;
}
.gpus-product-desc p {
    font-weight: 400;
    font-size: 12px;
}
.gpus-product-desc *{
    margin: 0;
}
.star-rating-gpu .rating .rating-lower {
    color: white;
}

/* product info and ratings */
.product-info {
    padding: 2em;
    color: black;
}
.decription-title h1 {
    margin-bottom: 1rem;
  }
  .prod-ratings-description {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 5px; 
    margin: 2rem 0;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .prod-img {
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    max-height: 300px;
    margin-bottom: 5px;
  }
  .prod-img-size {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all 0.4s ease;
  }
  .decription-title {
    padding: 2.75rem;
    display:flex;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    flex-direction: column;
    align-items: flex-start
  }
  .decription-title a {
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 0.35rem;
    background-color: #178501;
    color: #ffffff;
    margin-top: 7rem;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
  }
  .decription-title a:hover{
    background-color: #000000;
    outline: 1px solid #178501;
  }
  .rate_review {
    margin: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 3.5rem;
  }
  .rating-average div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .rating-average p {
    font-size: 1rem;
    font-weight: 500;
  }
  .rating-average {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background-color: #000000;
    color: #ffffff;
  }
  .average-stars {
    font-size: 2.75rem;
  }
  .rate__rev div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    column-gap: 1rem;
  }
  .rating_rev {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
  }
  .average-value {
    font-size: 3rem;
    font-weight: 700;
  }
  .rate__rev {
    padding: 2rem;
  }
  .rates-comment {
    text-align: center;
    margin: 1em 0;
    color: #000000;
  }
  /* profile */
  .profile {
    width: 100%;
  }
  .profile-circle {
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    width: 80px;
    height: 80px;
  }
  .profile-size {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid rgb(176, 176, 176);
    padding: 1rem;
  }
  .profile-name {
    line-height: 1.8rem;
  }
  .profile-name h3 {
    font-size: 2rem;
  }
  .rates_reviews {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    border-right: 1px solid #ebeaea;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 3%;
  }
  .rates_reviews a {
    color: black;
  }
  .review-comment {
    padding: 1rem 1rem 3rem;
    overflow-wrap: anywhere;
    width: 99%;
  }
  .time-date {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: small;
    color: #888888;
  }
  .average-rating {
    font-size: small;
    margin-left: 5px;
  }
/* footer */
footer {
    padding: 2em;
    padding-bottom: 5px;
    background-color: black;
}
footer h2, footer p {
    color:white;
    margin-bottom: 15px;
}
footer .footer-content {
   text-align: center;
   width: 40%;
   margin: auto;
   margin-bottom: 2em;
}
.footer-content button {
    background-color: black;
    border: none;
    margin-top: 20px;
}
.footer-content button a {
    border: 1px solid #178501;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
}
.footer a, .footer li {
    color:white
}
.footer div {
    padding: 10px;
}
.footer ul {
    display: flex;
    margin: 0;
}

.footer div li, .footer div i {
    margin-right: 15px;
    display: block;
    color: white;
}
.footer div i {
    font-size: 1.7rem;
}
.footer div li a {
    text-decoration: none;
    font-size: 1.3rem;
}

@media only screen and (max-width: 500px) { 
    footer .footer {
        flex-direction: column;
    }
    .footer div ul{
        justify-content: center;
    }
    /* most rated product section*/
    

    /* review sections     */
    .review-wrapper{
        padding: 2em 0;
    }
    .product-review {
        width: 100%;
        flex-direction: column;
    }
    .product-review > div {
        width: 100% !important;
        padding: 0 !important;
    }
    .rating-average {
        flex-direction: column
    }
    /* login user profile */
    .profile_activty{
        width: 100%;
    }
    /* product info */
    .product-info {
        padding: 0.5em;
    }
}

@media only screen and (max-width: 620px) { 
    .rated-product {
        flex-direction: column;
    }
    .product-home-img {
        width: 100%;
        max-height: 220px;
    }
    .product-home-img img {
        max-height: 220px;
        object-fit: scale-down;
    }
    .rated-product:first-child .product-home-img::before {
        border-radius: 20px 20px 0 0;
    }
    .rated-product:last-child .product-home-img::before {
        border-bottom-left-radius: 0;
    }
    /* product info  */
    .prod-ratings-description {
        grid-template-columns: auto;
    }
    /* gpus section */
    .graphiscore-wrapper {
        padding: 5px;
    }
    #product-list {
        width: 100%;
    }
}
/* Phone */
@media only screen and (max-width: 767px) {
    /* Your styles for phone here */
    /* nav menu */
     /* nav menu */

  .nav-menu { 
    display: block;
  }
    .inside-menu-nav {
        position: absolute;
        top: -80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: black;
        transition: 0.5s;
        flex-direction: column;
        height: 0;
        overflow: hidden;
    }
    .hide-right-nav {
        align-items: flex-start;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }
    .main-nav {
        display: block !important;
        width: fit-content;
        margin: 0 auto 0 auto; 
        
    }
    .main-nav li {
        margin-bottom: 10px;
    }
    .search {
        width: 80%;
        margin: 0 auto 0 auto; 
    }
    #myTopnav.active {
        height: 50vh;
        top: 80px;
        z-index: 3;
    }
    /* hide search */

    /* introduction carousel mobile  */
    .introduction-carousel-bg-1  {
        padding: 1em;
        height: auto;
    }
    .introduction-carousel-bg-2 {
        padding: 1em;
        height: auto;
    }
    .introduction-carousel-bg-3 {
        padding: 1em;
        height: auto;
    }
    .introduction-heading {
        width: 60%;
    }
    /* login mobile  */
    .login-wrapper {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .login-img {
        width: 100%;
        height: 50vh;
        border-radius: 0;
    }
    .login-form {
        width: 100%;
        border-radius: 0;
    }
    /* register mobile  */
    .register-wrapper {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .register-img {
        width: 100%;
        height: 50vh;
        border-radius: 0;
    }
    .register-form {
        width: 100%;
        border-radius: 0;
    }
    /* footer mobile */
    footer {
        padding: 5px;
    }
    footer .footer-content {
        width: 80%;
    }
    /* user account */
    
    /* most rated product */

    /* review sections */
    .review-wrapper  {
        flex-direction: column-reverse
      }
      .review-product {
        width: 100%;
      }
    /* product info */
    .rate_review {
        grid-template-columns: auto;
    }
    .rating-average {
        padding: 2em;
    }
    .product-review > div {
        min-width: 200px;
        padding-left: 10px;
    }
    .user-container {
        position: static !important;
    }
    .dropdown-content-user {
        left: 10%;
        top: 140px;
        border: none;
        display: block;
        box-shadow: none;
        background-color: black;
        padding-left: 1.8%;
    }
    .dropdown-content-user a {
        color: white;
    }
    /* PROFILE SETTINGS */
    .profile_settings {
        width: 100%;
    }

    /* grapiscore section */
    .product-div {
        width: 100%;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* header */
    .dropdown {
        position: relative;
      }
      .main-nav {
        position: absolute;
        top: 3em;
        right: 1.5em;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        flex-direction: column;
        align-items: start;
        display: none;
      }
      .main-nav a{
        margin: 0 !important;
        padding: 0;
        text-decoration: none;
        display: block;
        color: black !important;
        width: 100%;
      }
      .main-nav li {
        margin:0;
        width: 100%;
        padding: 0 5px;
      }
      .main-nav li:hover{
        transform:none;
        background-color: #178501;
      }
      .dropdown-button {
          display: block;
          background-color: black;
          border: none;
          color: white;
      }
      .x-menu { 
        display: none;
      }
      /* most rated product */
      

      /* review sections */
      .review-wrapper  {
        flex-direction: column-reverse
      }
      .review-product {
        width: 100%;
      }
      .product-review > div {
        min-width: 250px;
        padding-left: 10px;
      }
      /* graphiscore section */
      .product-div {
        width: 45%;
        }
  }
  /* Laptop */
  @media only screen and (min-width: 1024px) {
    .main-nav {
        display: flex !important;
      }
    .x-menu { 
    display: none;
    }
    /* graphiscore section */
    .graphiscore-intro {
        width: 50%;
    }
    .product-review {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 25%;
    }
    /* product info section */
    .rates_reviews {
        width: 950px;
        margin: 2% auto auto auto;
    }
    .rate_review {
        width: 950px;
        margin:auto;
    }
    /* home product section */
    .rated-products-container {
        width: 700px;
    }
    .news {
        display: block;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* home product section */
    .content-wrapper {
        padding: 2em 6em;
    }
    .rated-products-container {
        width: 850px;
    }

  }
  
/*  loading animation */
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
    width: 100%;
    height: 1em;
    margin-bottom: 5px;
    border-radius: .125em;
    line-height: 1.5;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 90%);
    }
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
}


body {
    scrollbar-color: #666666 #f1f1f1;
}














